.place-order-left input {
    margin-bottom: 15px;
    outline-color: orange;
    width: 100%;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    padding: 10px;
}

.place-order-left .multi-fields {
    display: flex;
    gap: 10px;
}